.common_table {
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
    border-spacing: 0;
    border-top: solid;
    border-bottom: solid;
}

.common_table_header_column {
    border-bottom: 2px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
}

.common_table_row:hover {
    background-color: #eceaea;
    cursor: pointer;
}
.common_table_row {
    border-bottom: 1px solid #a3a1a1;

}

.common_table_column {
    padding: 10px 5px;
}
